body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.contenedor {
  border: 5px solid rgb(255, 238, 0);
  background-color: rgb(88, 0, 146);
  padding: 20px 40px;
  width: 800px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blanco {
  color: white;
}

.naranja {
  color: rgb(255, 238, 0);
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: rgb(44, 0, 73);
  width: 100%;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}