body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.contenedor {
  border: 5px solid rgb(255, 228, 178);
  background-color: rgb(58, 43, 20);
  padding: 20px 40px;
  width: 800px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.naranja {
  color: rgb(255, 228, 178);
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: rgb(58, 45, 20);
  width: 100%;
  color: rgb(255, 228, 178);
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 5px solid rgb(255, 228, 178);
}